@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:wght@400;700&display=swap');

.titulo{
    color: #0A1D3B!important;
    text-align: center;
    font-family: 'Charis SIL', serif!important;
}

.img{
    width: 45rem;
    height: 30rem;
    display: block;
    margin: 0 auto;
}

.caixa {
    background-color: #FAB1A0;
}